<div class="form-group">
    <label>Book Title</label>
    <input type="text" class="form-control" name="title" ng-model="vm.currentGenre.currentSubgenre.title"  />
    <label>Author</label>
    <input type="text" class="form-control" name="author" ng-model="vm.currentGenre.currentSubgenre.author"  />
    <textarea ng-model="vm.currentGenre.currentSubgenre.desc" ng-required="vm.currentGenre.currentSubgenre.isDescriptionRequired">
    </textarea>
    <!-- <label>ISBN</label>
    <input type="text" class="form-control" name="title" ng-model="vm.title"  />
    <label>Publisher</label>
    <input type="text" class="form-control" name="title" ng-model="vm.title"  />
    <label>Date Published</label>
    <input type="date" class="form-control" name="title" ng-model="vm.title"  />
    <label>No of Pages</label>
    <input type="number" class="form-control" name="title" ng-model="vm.title"  />
    <label>Format</label>
    <input type="text" class="form-control" name="title" ng-model="vm.title"  />
    <label>Edition</label>
    <input type="text" class="form-control" name="title" ng-model="vm.title"  />
    <label>Edition Language</label>
    <input type="text" class="form-control" name="title" ng-model="vm.title"  /> -->
</div>