<div class="container">
        <div class="row">
          <div class="col-md-12">
            
            <h1>Add book-New book</h1>
            <div id="wizard-container" ng-controller="WizardController as vm">
              
              <div id="wizard-step-container">
                <ul class="nav nav-pills nav-justified">
                  <li ng-repeat="step in vm.steps" ng-class="{'active':step.step == vm.currentStep}"><a href="">{{step.step}}. {{step.name}}</a></li>
                </ul>
              </div>
  
              <div id="wizard-content-container">
                <ng-include src="vm.getStepTemplate()"></ng-include>
              </div>
              
              <div id="wizard-navigation-container">
                <div class="pull-right">
                  <span class="btn-group">
                    <button ng-disabled="vm.currentStep <= 1" class="btn btn-default" name="previous" type="button" ng-click="vm.gotoStep(1)"><i class="fa fa-arrow-left"></i> Go to Start</button>
                    <button ng-disabled="vm.currentStep >= vm.steps.length || (vm.currentStep === 1 && !vm.currentGenre.selectedGenre) || (vm.currentStep === 2 && !vm.currentGenre.currentSubgenre) || (vm.currentStep === 3 && !vm.currentGenre.currentSubgenre.name)" class="btn btn-primary" name="next" type="button" ng-click="vm.gotoStep(vm.currentStep + 1)">Next step <i class="fa fa-arrow-right"></i></button>
                  </span>
                  <button ng-disabled="vm.currentStep != vm.steps.length || (vm.currentStep === 4 && vm.currentGenre.currentSubgenre.isDescriptionRequired && !vm.currentGenre.currentSubgenre.desc)" class="btn btn-success" name="next" type="button" ng-click="vm.save()"> <i class="fa fa-floppy-o"></i> Save</button>
                </div>
              </div>
  
            </div>
            
          </div>
        </div>
      </div>