      <div class="main-page pt-4">
        <div class="container" ng-controller="WizardController as vm">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-12">
                    <div class="card book-card p-3">
                      <div class="book-card-heading">
                        <h6>Add book - New book</h6>
                        <ul class="steps d-flex my-4">
                            <li ng-class="{'active': vm.currentStep === 1}">
                                <a href="javascrip:void(0)">
                                    <span class="d-inline-flex align-items-center justify-content-center rounded-circle step-no-round">1</span>
                                    <p class="pt-1">Genre</p>
                                </a>
                            </li>
                            <li ng-class="{'active': vm.currentStep === 2}">
                                <a href="javascrip:void(0)">
                                    <span class="d-inline-flex align-items-center justify-content-center rounded-circle step-no-round">2</span>
                                    <p class="pt-1">Subgenre</p>
                                </a>
                            </li>
                            <li ng-if="vm.currentStep === 1 || vm.currentStep === 2">
                                <a href="javascrip:void(0)">
                                    <span class="d-inline-flex align-items-center justify-content-center rounded-circle step-no-round">...</span>
                                    <p class="pt-1"></p>
                                </a>
                            </li>
                            <li ng-if="(vm.currentStep === 3 || vm.currentStep === 4) && !vm.skippedStep" ng-class="{'active': vm.currentStep === 3}">
                                <a href="javascrip:void(0)">
                                    <span class="d-inline-flex align-items-center justify-content-center rounded-circle step-no-round">3</span>
                                    <p class="pt-1">Add new subgenre</p>
                                </a>
                            </li>
                            <li ng-if="(vm.currentStep === 3 || vm.currentStep === 4) && !vm.skippedStep" ng-class="{'active': vm.currentStep === 4}">
                                <a href="javascrip:void(0)">
                                    <span class="d-inline-flex align-items-center justify-content-center rounded-circle step-no-round">4</span>
                                    <p class="pt-1">Information</p>
                                </a>
                            </li>
                            <li ng-if="(vm.currentStep === 3 || vm.currentStep === 4) && vm.skippedStep" ng-class="{'active': vm.currentStep === 4}">
                                <a href="javascrip:void(0)">
                                    <span class="d-inline-flex align-items-center justify-content-center rounded-circle step-no-round">3</span>
                                    <p class="pt-1">Information</p>
                                </a>
                            </li>
                        </ul>
                      </div>
                      <div class="book-card-body">
                        <ng-include src="vm.getStepTemplate()"></ng-include>                          
                      </div>
                      <div class="book-card-footer">
                          <div class="row subactions-btns action-btns mt-4">
                            <div class="col-md-12 text-right">
                                <button ng-disabled="vm.currentStep === 1" ng-click="vm.gotoStep(vm.currentStep - 1)" type="button" class="btn btn-outline-secondary"><i class="fa fa-angle-left mr-2" aria-hidden="true"></i>Back</button>
                                <button ng-hide="vm.currentStep >= vm.steps.length" ng-disabled="(vm.currentStep === 1 && !vm.currentGenre.selectedGenre) || (vm.currentStep === 2 && !vm.currentGenre.currentSubgenre) || (vm.currentStep === 3 && !vm.currentGenre.currentSubgenre.name)" type="button" class="btn btn-outline-secondary ml-2" ng-click="vm.gotoStep(vm.currentStep + 1)">Next</button>
                                <button ng-if="vm.currentStep === 4" ng-disabled="vm.currentStep === 4 && vm.currentGenre.currentSubgenre.isDescriptionRequired && !vm.currentGenre.currentSubgenre.desc" type="button" class="btn btn-outline-secondary ml-2" ng-click="vm.save()">Add</button>                            
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>